[Unit]
Description= Sos button bot

[Service]
User=sos
WorkingDirectory=/home/sos/sosbot
VIRTUAL_ENV=/home/sos/sosbot/venv
Environment=PATH=$VIRTUAL_ENV/bin:$PATH
ExecStart=/home/sos/sosbot/venv/bin/python bot.py
Restart=always
RestartSec=5
[Install]
WantedBy=multi-user.target
